
<h1>Results</h1>

<p>Your preferred contact method is @ViewBag.ContactMethod    
</p>

<p>How you found out about this course</p>

@for(int i = 0; i < ViewBag.InformMethods.Count; i++)
{
    @ViewBag.InformMethods[i]<br />
}



