@model WebApp.Models.QuestionaireViewModel

<h1>Questionaire</h1>

@using (Html.BeginForm("ProcessQuestionaire", "Questionaire"))
{

    <p>How would you rate this website?</p>

    foreach (SelectListItem item in Model.InformMethods)
    {
        <p>
           @Html.Label(item.Text)
           @Html.CheckBox(item.Text, item.Value)
        </p>
    }

    <p>Please select your preferred contact method</p>
    foreach (SelectListItem item in Model.ContactMethods)
    {
        <p>
            @Html.Label(item.Text)
            @Html.RadioButton("InformMethod", item.Value)
        </p>
    }

    <br />
    <input type="submit" value="Submit" />

}
