@{
    ViewBag.Title = "Survey";
}

<h2>Survey</h2>

@Html.BeginForm()

<p>
    <label for="FirstName">First Name:</label>
    @Html.TextBox("FirstName")
</p>

<p>
    <input type="submit" value="Register" />
</p>

