@{
    ViewBag.Title = "Inquiry Form";
}

<h2>Inquiry</h2>

<div class="col-lg-4">

    @using (Html.BeginForm())
    {
        <div class="form-group">
            <label for="Username">Username:</label>
            @Html.TextBox("Username", null, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label for="Surname">Email:</label>
            @Html.TextBox("Email", null, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label for="">What are you contacting us about?</label>
            for each 
            Technical Issue
            Sales question
            Partnership Inquiry
        </div>


        <div class="form-group">
            <label for="">Comments:</label>
            @Html.TextArea("Comments", null, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <input type="submit" value="Send" />
        </div>
    }

</div>


